/*******************/
/* La typographie */
/*****************/

@font-face{
    font-family : 'GTWalsheim';
    src:url('GT-Walsheim-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    /*La Typo */
    font-family: 'GTWalsheim', 'Verdana','sans-serif';
    font-size : 14px;

    /*La couleur */
    color : #1A1864;

    /*Hauteur des ligne*/
    line-height: 1.8;

    /*Background*/
}

/**********************/
/* Les éléments HTML */
/**********************/

article{
    padding-bottom:70px; 
    padding-top: 20px;
}

/************/
/* La navbar*/
/************/
nav ul li{
    padding-top : 15px;
}

nav ul li a{
    color: #1A1864;
}

#imgMosaic{
    float: right;
}

#imgMosaic img{
    width: 305px;
}